DataLibrary/Schemas/EnumValues.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnumValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Boolean">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Setting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" name="PropertyName" />
                    <xs:element maxOccurs="1" name="PropertyValue" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Integer">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Setting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" name="PropertyName" />
                    <xs:element maxOccurs="1" name="PropertyValue" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Float">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Setting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" name="PropertyName" type="xs:string" />
                    <xs:element maxOccurs="1" name="PropertyValue" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EnumTypeName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>